.green{
	background-color: #6EF000;
	height: 8.33vw;
}

.largeur{
  margin-left: 8.33%;
  margin-top: 1%;
  margin-bottom: 1%;

}



/* MEDIA QUERYS */
/*--------------------------------------------------------------------------------------------------------------*/
/*-- LG + Default -----------------------------------------------------------------------------------------------------------*/
/*@media (min-width: 1200px) {
  .green{background-color: #6EF000;height: 75px;}
}
/*-- MD ------------------------------------------------------------------------------------------------------------*/
/*@media (min-width: 992px) and (max-width: 1199px) {
  .green{background-color: #6EF000;height: 50px;}
}
/*-- SM ------------------------------------------------------------------------------------------------------------*/
/*@media (max-width: 992px) {
  .green{background-color: #6EF000;height: 50px;}
}
/*-- XS ------------------------------------------------------------------------------------------------------------*/
/*@media only screen and (max-width: 767px) {*/
  /*.green{background-color: #6EF000;height: 40px;}*/
}
/*--------------------------------------------------------------------------------------------------------------*/
/*@media only screen and (max-width: 610px) {*/
  /*.green{background-color: #6EF000;height: 20px;*/
  /*.largeur{width: 50px;}}*/
}
/*--------------------------------------------------------------------------------------------------------------*/
/*@media only screen and (max-width: 480px) {*/
    /*.green{background-color: #6EF000;height: 20px;*/
      /*.largeur{width: 50px;}*/
}
/*@media only screen and (max-width: 430px) {*/
}
